@import url(font.css);


body{
  height: 100vh;
  font-family:'HSYujiRegular';
  color: #222;
  background:url(../img/paperbackground.png) no-repeat center center;
  background-size: cover;
}

[class $= 'inner']{
  width: 1200px;
  margin: auto;
  padding: 30px 0 30px 0;
}
#header{
}
#header .header_inner{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#header .logo {
  
}
#header .gnb ul {
  font-size: 1.2em;
  display: flex;
}
#header .gnb ul li:not(:first-child) {
  margin-left: 20px;
}
#header .gnb a:hover {
  color: #DC2424
}
#main {
}
#main h2 {
  font-size: 20px;
  margin-bottom: 23px;  
}
#main .room_inner{
  text-align: center;
  height: 497px;
}
#main .room_left {
  float: left;
  width: 690px;
  height: 450px; 
}
#main .room_left button {
  border: none;
  font-size: 15px;
  background: none;
  padding: 5px;
  border-radius: 5px;
  border: 2px solid;
}
#main .room_right {
  float: right;
}
#main .room_list::-webkit-scrollbar {
  display: none;
}
#main .room_list {
  width: 690px;
  height: 200px;
  border: 5px solid;
  border-radius: 5px;
  background-color: #be91913b;
  overflow-y: scroll;
  box-shadow: 0px 5px 0px 0px #222 ;
  margin-bottom: 20px;
}
#main .room_list tbody tr:hover {
  background-color: #4A569D;
  cursor: pointer;

}
#main .user_list{
  width: 385px;
  border: 5px solid;
  border-radius: 5px;
  background-color: #be91913b;
  
}
#main table{
  width: 100%;
}
#main table th {
  height: 30px;
}
#main table tr {
  height: 30px;
  border-bottom: 3px solid;
}

.loginModal {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 100%;
  height: 100%;
  background: url(../img/자산\ 1.png) no-repeat center center/50%,url(../img/background.png) no-repeat center center /cover;
}

.loginModal .loginModalBox {
  position: relative;
  left: 50%;
  top: 50%;
  width: 50%;
  display: flex;
  padding: 30px;
  flex-direction: column;
  transform: translate(-50%,-50%);
    border-radius: 5px;
  text-align: center;
}
.loginModal h2 {
  font-size: 50px;
  margin-bottom: 30px;
}

.loginModal img {
  width: 800px;
}


.loginModalBox label{
  font-size: 30px;
  margin-bottom: 15px
}
.loginModalBox input{
  font-family: 'Galmuri11';
  padding: 10px;
  text-align: center;
  width: 50%;
  margin: auto;
}

#canvas {
  position:absolute;
  display: block;
  top: 0;
  width: 100%;
  height: 100%;
}
.createRoomModal {
  display: none;
  flex-direction: column;
  position: absolute;
  text-align: center;
  font-size: 20px;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  padding: 50px;
  background: url(../img/자산\ 2.png) no-repeat center center/contain;
  
}
.createRoomModal label{
  font-size: 30px;
  margin-bottom: 10px;
}
.createRoomModal button{
  position: absolute;
  right: 15px;
  top: 15px;
  border-radius: 5px;
} 
.createRoomModal input{
  margin-bottom: 10px;
}
/* 비밀번호 창 */
.passwordModal{
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 20%;
}

.passwordModal div{
  position: relative;
  display: flex;
  flex-direction: column;
  top: 50%;
  left: 50%;
  width: 50%; 
  transform: translate(-50%,-50%);
  background-color: #4A569D;
  padding: 30px;
}
.passwordModal button {
  padding: 5px;
  text-align: center;
  margin-bottom: 20px;
  border: 1px solid #DC2424;
}
/* 게임시작시 모달 */
.gameModal{
  display: block;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  background: linear-gradient(40deg,#DC2424,#4A569D) no-repeat center center;
}
.buttonBox{
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 24px;
  left: 50%;
  transform: translate(-50%);
}
.buttonBox button{
  padding: 5px;
  border: 2px solid ;
  border-radius: 3px;
  display: block;
  cursor: pointer;
  margin-right: 5px;
}
.buttonBox .subject {
  padding: 5px;
  margin-right: 30px;
}
.buttonBox .suggestion {
  padding: 5px;
  margin-right: 30px;
}
.buttonBox .time {
  padding: 5px;
  margin-right: 30px;
}
.gameModal .gameModalBox {
  position: relative;
  width: 70%;
  top: 50%;
  left: 50%;
  border-radius: 5px;
  transform: translate(-50%,-50%);
  padding: 30px;
  background-color: rgba(238, 238, 238, 0.208);

}
.gameModalBox .topBox{
  display: flex;
  justify-content: space-between;
  height: 296px;
  margin-bottom: 45px;
}

/* 왼쪽 플레이어 */
.topBox .leftPlayers{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
/* 오른쪽 플레이어 */
.topBox .rightPlayers{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
/* 채팅보드 */
.topBox .chatBoard {
  border-radius: 5px ;
  position: relative;
  border: 5px solid #333;
  width: 505px;
  text-align: left;
  overflow: scroll;
}
.topBox .chatBoard div {
  font-size: small;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  white-space: pre-line;
  word-break: break-all;
  border-bottom: 1px solid #333;
}
/* 채팅보드 인풋 */
.gameModal .middleBox{
  position: relative;
}
.gameModal .middleBox .chatInput{
  position: absolute;
  bottom: 50%;
  border: 1px solid #9E8A4A;
  left: 50%;
  padding: 2px;
  transform: translate(-50%,-50%);
  width: 50%;
}
.topBox .chatBoard::-webkit-scrollbar{
  display: none;
}
.gameModalBox .bottomBox{
  display: flex;
  justify-content: space-around;
}
/* 플레이어박스 스타일 */
[class ^= 'player']{
  border: 5px solid;
  width: 162px;
  height: 126px;
  border-radius: 5px;
  background-color: #fefeff3c;
}
/* 카테고리 모달 */
div.gameModal .CategoryModal {
  position: absolute;
  padding: 50px;
  background: #965252;
  border: 5px solid;
  border-radius: 5px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
div.gameModal .CategoryModal button:not(:last-child){
  margin-right: 10px;
}
@media (max-width:600px){ /*가로 너비가 600px 이하일 때 아래 스타일 적용*/
  
}